#tabzilla {
  float: right;
  position: relative;
}
#tabzilla a {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  /* tabzilla bg img is no longer called here. */
  background-repeat: no-repeat;
  display: block;
  height: 37px;
  position: relative;
  width: 147px;
  z-index: 2;
}
@media (prefers-color-scheme: light) {
  #tabzilla a {
    background-image: url('../../media/img/tabzilla-main-dark.svg');
    -webkit-background-size: 147px 37px;
    background-size: 147px 37px;
  }
}
@media (prefers-color-scheme: dark) {
  #tabzilla a {
    background-image: url('../../media/img/tabzilla-main-light.svg');
    -webkit-background-size: 147px 37px;
    background-size: 147px 37px;
  }
}
#tabzilla:before {
  background-color: transparent;
  content: '';
  display: block;
  height: 26px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 88px;
  z-index: 1;
}
html[dir='rtl'] #tabzilla {
  float: left;
}
